/*------ POTD SECTION ------*/

body {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  font-family: 'Playfair Display'
}

#page-container {
  display: flex;
  flex-flow: column wrap;
  margin-top: 1em;
  align-items: center;
  width: 85%;
}

#potd-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

h3 {
  font-family: 'Muli';
}

.potd-title {
  font-size: 4em;
  font-weight: 900;
  margin-bottom: 0.5em;
}
#potd-child-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.potd-child {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 40%;
  padding: 20px;
}

img.planet-picture {
  width: 100%;
  height: auto;
  border-radius: 10%;
}

#planets-container {
  margin: 5em 0em;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.text-body {
  font-family: 'Muli';

}
